<div class="container">
<form action="answer" method="GET">
  <input type="text" class="form-control mt-3" name="words">
  <input type="submit" class="form-control btn btn-primary mt-3" value="Ask!">
</form>
</div>